# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# cypress output 
/cypress/videos
/cypress/screenshots

# Environments
.env
.history
#cypress.env.json

npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/settings.json

# local History
.lh/